@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #15507a;
    --secondary-color: #f0f0c9;
    --accent1-color: #f2bb05;
    --accent2-color: #d74e09;

    --heading-font: Quicksand, serif;
    --paragraph-font: Josefin, serif;

    --nav-background-color: #25b7c4; 
    --nav-link-color: #1f01ff;
    --nav-hover-link-color: #9090ed;
    --nav-hover-background-color: #0aae5c;

    width: 1050px;  
}
body {
    font-family: var(--paragraph-font);
    color: black;
    max-width: 1050px;
    padding: 20px;
    width: 1050px;
}
main {
    background-color: rgb(92, 111, 104,.7); 
    width: 1050px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    max-width: 1050px;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    gap: 20px;
    height: 7rem;
    width: 1050px;
    background-color: rgb(92, 111, 104,.7);
}
header img {
    height: auto;
    justify-self: center;
    align-self: center;
    width: 100%;
}
header nav {
    display: flex;
    justify-self: center;
    align-items: center;
}
header nav a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
}
header nav a:hover {
    background-color: blue;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 1050px;
    height: auto;
}
.hero h1 {
    position: absolute;
    color: white;
    width: 1050px;
    top: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0, .5);
}
.hero article {
    position: absolute;
    width: 70%;
    height: auto;
    top: 350px;
    right: 50px;
    background-color: rgb(242, 187, 5, .75);
}
.hero article > img {
    float: right;
    width: 45%;
    padding: .5rem;
}
.hero article > p {
    width: 50%;
    padding: .5rem;
    text-align: center;
}
.history section {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
    width: 1050px;
    row-gap: 20px;
}
.history section h2 {
    grid-column: 1/6;
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
}
.history section img{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 90%;
}
.history section #p1 {
    grid-column: 1/3;
    grid-row: 2/3;
}
.history section #p2 {
    grid-column: 4/6;
    grid-row: 2/3;
}
.adventure section {
    display: grid;
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 5px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 30px 180px;
    width: 800px;
    height: 300px;
}
.adventure section #flex1{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex2{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex3{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex4{
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex5{
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
.adventure section figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    max-width: 220px;
    margin: auto;
    width: 12rem;
} 
.adventure section img {
    max-width: 220px;
    max-height: 150px;
    width: 100%;
} 
.adventure section figcaption {
    color: #0e0d0d;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.reach-our-team {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 70px;
    grid-template-rows: auto auto auto;
    width: 1050px;
    height: 500px;
    gap: 20px;
    align-items: center;
    max-width: 1000px;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    background-image: url(../images/reach.png);
}
.reach-our-team .start {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px;
    width: 1000px;
    height: 100px;
    background-color: rgb(92, 111, 104,.9);
}
.start h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
.start p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    color: rgb(225, 226, 226);
}

.reach-our-team .talk-to-sales {
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    border: black solid;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255,.8);
}
.talk-to-sales {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 30px auto;
}

.talk-to-sales h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 140%;
}
#p1 {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.talk-to-sales img {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 80%;
    align-self: center;
    justify-self: center;
}
#p2 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.reach-our-team .contact-support {
    grid-column: 3/4;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    border: black solid;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255,.8);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}
.contact-support h2 {
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 140%;
}
.contact-support p {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
}
.contact-support button {
    width: 60%;
    align-self: center;
    justify-self: center;
}

.where-to-find-us {
    display: grid;
    grid-template-columns: 30px 50px 1fr 2fr;
    grid-template-rows: 120px 60px 60px 60px 60px 60px 60px 60px;
}
.where-to-find-us h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.where-to-find-us h2 {
    grid-column: 1/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    text-align: left;
}
.where-to-find-us iframe {
    grid-column: 4/5;
    grid-row: 1/9;
    align-self: center;
    justify-self: center;
    width: 600px;
    height: 500px;
    margin: 20px;
}
#location {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#mail {
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#phone {
    grid-column: 2/3;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#plocation {
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#pemail {
    grid-column: 3/4;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#pphone {
    grid-column: 3/4;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.employee-profiles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px 1fr;
    background-image: url(../images/background3.png);
    border-top: black solid;
    border-bottom: black solid;

}
.employee-profiles h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.employee-profiles figure {
    align-self: center;
    justify-self: center;
    text-align: center;
}
.employee-profiles figure figcaption {
    background-color: rgb(255, 255, 255,.6);
    padding: 1px;
}
.message {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 80px 40px 390px 50px;
    width: 1050px;
    height: 620px;
    gap: 20px;
}
.message h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.message p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.message form {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    width: 1050px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 80px 80px 80px 50px;
    grid-template-rows: 1fr 20px;
    column-gap: 5px;
}
footer p {
    text-align: center;
}
footer img {
    width: 60%;
    align-self: center;
    justify-self: center;
}
.facebook{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}
.twitter {
    grid-column: 3/4;
    align-self: center;
    justify-self: center;

}
.instagram {
    grid-column: 4/5;
    align-self: center;
    justify-self: center;

}
.wireframe {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.main-trip {
    display: grid;
    grid-template-columns: 600px 420px;
    grid-template-rows: 575px 600px 400px;
    gap: 30px;
    grid-template-areas: 
      "out out"
      "exp aside"
      "end aside"
    ;
}
.check-us-out-container {
    grid-area: out;
    max-height: 575px;
    
}
.book-adventure img {
    position: relative;
    width: 90%;
    padding: 5px;
    align-self: center;
    justify-self: center;

}
.trip-button1 {
    position: absolute;
    background-color: rgb(25, 147, 25,.9);
    width: 350px;
    text-align: center;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    position: absolute;
    left: 590px;
    top: 320px;
    font-size: 100%;
}
.experience {
    grid-area: exp;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 1fr;
    place-items: center;
}
.experience h1 {
    grid-row: 1/2;
    text-align: center;
    text-decoration: underline;
}
.experience table {
    text-align: center;
    border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
.experience table th {
    font-size: 27px;
    padding: 15px;
}
.experience table td {
    font-size: 23px;
    padding: 8px;
}
.trip-aside {
    grid-area: aside;
    box-sizing: border-box;
}
.trip-aside-section {
    display: grid;
    place-items: center;
    
}
.trip-aside-section img {
    width: 70%;
}
.trip-aside-section h2, p {
    text-align: center;
}
.trip-aside-section p {
    padding-right: 20px;
}
.end-trip {
    grid-area: end;
    position: relative;
}
.end-trip img {
    position: absolute;
    padding: 10px;
    width: 95%;
}
.end-trip h1 {
    position: absolute;
    left: 220px;
    background-color: rgba(25, 108, 147, 0.7);
    text-align: center;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.index-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 600px 400px 400px; */
    /* grid-template-rows: 605px 505px 445px 445px; */
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas: 
      "hero hero"
      "des1 des1"
      "des2 des2"
      "signup signup"
    ;
}
.index-hero {
    grid-area: hero;
    position: relative;
}
.index-hero img {
    max-width: 1050px;
    /* position: absolute; */
} 
.index-hero h1 {
    position: absolute;
    color: white;
    top: 5px;
    right: 20px;
    text-align: right;
}
.index-hero h2 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    left: 220px;
    background-color: rgba(25, 108, 147, 0.7);
    text-align: center;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.des1 {
    grid-area: des1;
    display: grid;
    grid-template-columns: 450px 570px;
    place-content: center;
    column-gap: 20px;
}
.des1 h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.des1 h2 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.des1 p {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    padding: 10px
}
.des1 img {
    grid-column: 2/3;
    grid-row: 1/4;
    max-width: 550px;
    place-self: center;
}
.des2 {
    grid-area: des2;
    display: grid;
    grid-template-columns: 570px 450px;
    /* place-content: center; */
    column-gap: 20px;
}
.des2 h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.des2 h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.des2 p {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 10px;
}
.des2 img {
    grid-column: 1/3;
    grid-row: 1/4;
    max-width: 550px;
    align-self: center;
    padding-left: 15px;
}
.subscribe {
    grid-area: signup;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-row: auto;
}
.subscribe h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.subscribe p {
    grid-column: 2/3;
    grid-row: 2/3;
}
.subscribe form {
    grid-column: 3/5;
    grid-row: 1/3;
    place-items: center;
    place-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}
.subscribe form fieldset {
    max-width: 300px;
    border: none;
    grid-column: 1/2;
}
.subscribe form fieldset input {
    width: 100%;
    font-size: larger;
}
.subscribe form button {
    grid-column: 2/3;
    width: 90%;
    font-size: 40px;
    padding-right: 30px;
}





















