@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #15507a;
    --secondary-color: #f0f0c9;
    --accent1-color: #f2bb05;
    --accent2-color: #d74e09;

    --heading-font: Quicksand, serif;
    --paragraph-font: Josefin, serif;

    --nav-background-color: #25b7c4; 
    --nav-link-color: #1f01ff;
    --nav-hover-link-color: #9090ed;
    --nav-hover-background-color: #0aae5c;

    width: 1000px;    
}
body {
    font-family: var(--paragraph-font);
    color: black;
    max-width: 1000px;
    padding: 20px;
    width: 1000px;
}
main {
    background-color: rgb(92, 111, 104,.7); 
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
header {
    display: grid;
    grid-template-columns: 200px 2fr;
    align-items: center;
    max-width: 1000px;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    gap: 20px;
    height: 7rem;
    width: 1000px;
    background-image: linear-gradient(to left, #5C6F68, #8AA39B);
}
header img {
    height: auto;
    justify-self: center;
    align-self: center;
    width: 100%;
}
header nav {
    display: flex;
    justify-self: center;
    align-items: center;
}
header nav a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
}
header nav a:hover {
    background-color: blue;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 1000px;
    height: auto;
}
.hero h1 {
    position: absolute;
    color: white;
    width: 1000px;
    top: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0, .5);
}
.hero article {
    position: absolute;
    width: 70%;
    height: auto;
    top: 350px;
    right: 50px;
    background-color: rgb(242, 187, 5, .75);
}
.hero article > img {
    float: right;
    width: 45%;
    padding: .5rem;
}
.hero article > p {
    width: 50%;
    padding: .5rem;
    text-align: center;
}
.history section {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
    width: 1000px;
    row-gap: 20px;
}
.history section h2 {
    grid-column: 1/6;
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
}
.history section img{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 90%;
}
.history section #p1 {
    grid-column: 1/3;
    grid-row: 2/3;
}
.history section #p2 {
    grid-column: 4/6;
    grid-row: 2/3;
}
.adventure section {
    display: grid;
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 5px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 30px 180px;
    width: 800px;
    height: 300px;
}
.adventure section #flex1{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex2{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex3{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex4{
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section #flex5{
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.adventure section h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
.adventure section figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    max-width: 220px;
    margin: auto;
    width: 12rem;
} 
.adventure section img {
    max-width: 220px;
    max-height: 150px;
    width: 100%;
} 
.adventure section figcaption {
    color: #0e0d0d;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.reach-our-team {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 70px;
    grid-template-rows: auto auto auto;
    width: 1000px;
    height: 500px;
    gap: 20px;
    align-items: center;
    max-width: 1000px;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    background-image: url(../images/reach.png);
}
.reach-our-team .start {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px;
    width: 1000px;
    height: 100px;
    background-color: rgb(92, 111, 104,.9);

}
.start h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
.start p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    color: rgb(225, 226, 226);
}

.reach-our-team .talk-to-sales {
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    border: black solid;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255,.8);
}
.talk-to-sales {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 30px auto;
}

.talk-to-sales h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 140%;
}
#p1 {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.talk-to-sales img {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 80%;
    align-self: center;
    justify-self: center;
}
#p2 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.reach-our-team .contact-support {
    grid-column: 3/4;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    border: black solid;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255,.8);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}
.contact-support h2 {
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 140%;
}
.contact-support p {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
}
.contact-support button {
    width: 60%;
    align-self: center;
    justify-self: center;
}

.where-to-find-us {
    display: grid;
    grid-template-columns: 30px 50px 1fr 2fr;
    grid-template-rows: 120px 60px 60px 60px 60px 60px 60px 60px;
}
.where-to-find-us h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.where-to-find-us h2 {
    grid-column: 1/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    text-align: left;
}
.where-to-find-us iframe {
    grid-column: 4/5;
    grid-row: 1/9;
    align-self: center;
    justify-self: center;
    width: 600px;
    height: 500px;
    margin: 20px;
}
#location {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#mail {
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#phone {
    grid-column: 2/3;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    width: 90%;
}
#plocation {
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#pemail {
    grid-column: 3/4;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#pphone {
    grid-column: 3/4;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.employee-profiles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px 1fr;
    background-image: url(../images/background3.png);
    border-top: black solid;
    border-bottom: black solid;

}
.employee-profiles h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.employee-profiles figure {
    align-self: center;
    justify-self: center;
    text-align: center;
}
.employee-profiles figure figcaption {
    background-color: rgb(255, 255, 255,.6);
    padding: 1px;
}
.message {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 80px 40px 390px 50px;
    width: 1000px;
    height: 620px;
    gap: 20px;
}
.message h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.message p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.message form {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    width: 1000px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 80px 80px 80px 50px;
    grid-template-rows: 1fr 20px;
    column-gap: 5px;
}
footer p {
    text-align: center;
}
.facebook{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}
.twitter {
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}
.instagram {
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}
.wireframe {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

























